version: '3'

services:
  mysqlsrv:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: "pass"
      MYSQL_DATABASE: "crud_db"
    ports:
      - "3306:3306"
    volumes:
      - ./.docker/mysqldata:/var/lib/mysql
    networks:
      - mysql-compose-network

  adminer:
    image: adminer
    ports:
      - 8081:8080
    networks:
      - mysql-compose-network

networks:
  mysql-compose-network:
    driver: bridge